<?xml version="1.0" ?>
<model>
    <name>terrain-dirt-high</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Anthony J. Clark</name>
        <email>anthonyclark@missouristate.edu</email>
    </author>
    <description>Heightmap terrain with a dirt texture</description>
</model>
